<a href="https://colab.research.google.com/github/mnikolop/PythonTutorial/blob/master/KarolinskaTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 

Python is an interpreted, high-level, general-purpose programming language.    
Can be used for almost anything.   
We are using it for data analysis.    
Main library used in data analysis is pandas.   
There used to be 2 version python2 (or python) and python 3. Since January 1st Python 2 has been depricated so we are only using python 3.

## Main Resource
- [python](https://www.python.org/)
- [stackoverflow](https://stackoverflow.com/)
- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)

## Editors

Editors can be IDEs, text editors or notbooks.
- [Anaconda]: deployment environment
  - [Jupyter]: notebook
- [VS Code]: text editor
- [PyCharm]: IDE
- [Google Colab]: notebook

# Libraries
Libraries can contain datasets, tools, graphics, processes, functions and so on.
They are basically what makes a langiage powerfull.

A lot of the libraries come preinstaled in the environments so we can just load them. If they are not we have to install them like below.


/note Note: it is possible but not common that libraries have (slightly) different names for anaconda, only exist for anaconda or don't exist for it. note/

---

It is possible to run command lines from a notebook.
Some notebooks also allow other languages to be mixed in as long as they are in seperate cells and you specify the language (and of course it is suported).

In [0]:
# Install libraries
!pip install gapminder
!pip install -U -q PyDrive

Collecting gapminder
  Downloading https://files.pythonhosted.org/packages/85/83/57293b277ac2990ea1d3d0439183da8a3466be58174f822c69b02e584863/gapminder-0.1-py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from gapminder) (0.25.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->gapminder) (2.6.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->gapminder) (1.17.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->gapminder) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->gapminder) (1.12.0)
Installing collected packages: gapminder
Successfully installed gapminder-0.1

In [0]:
#Import libraries
import numpy as np #basic scientific computation 
import pandas as pd #for data science
from gapminder import gapminder #dataset
import matplotlib.pyplot as plt #ploting 
import seaborn as sns; sns.set_style("darkgrid") #ploting
my_dpi=96 #dots per inch. Used in the size of the plots

# Datasets
Data frames are sets of data in a "table" format. 
They come with a multitude of operations and functions they can be performed on them.

## Loading datasets
- Library
- Sample dataset
- File
- Online

---

One of the libraries above is a dataset, and the other comes with a few test datasets.

---

Since we have our dataset in pandas format we can get simple stats on the contents.

In [0]:
print(type(gapminder))

<class 'pandas.core.frame.DataFrame'>

In [0]:
print("the first 5 lines of the dataframe are \n" , gapminder.head(), "\n")
print("the basic statistics of the dataframe are \n" , gapminder.describe(), "\n")
print("the data types of the dataframe are \n" , gapminder.dtypes, "\n")
print("the data types of the dataframe are (plus sparsity) \n" , gapminder.ftypes, "\n")

the first 5 lines of the dataframe are
        country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

the basic statistics of the dataframe are
              year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

the data types of the dataframe are
 country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

the data types of the dataframe are (plus sparsity)
 country       object:dense
continent     object:dense
year           int64:dense
lifeExp      float64:dense
pop            int64:dense
gdpPercap    float64:dense
dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: DataFrame.ftypes is deprecated and will be removed in a future version. Use DataFrame.dtypes instead.
  after removing the cwd from sys.path.

# Data Wrangling
We can see that our dates have been asigned the wrong data type and that might cause some issues so we need to fix that.   
- First we pass the data to a clean dataframe so we can revert to the original without having to load it formscratch again.   
- Then we fix the date type.
- And last we fix the continents to categorical.

In [0]:
df = gapminder 
df.year = pd.to_datetime(df.year, format='%Y').dt.year
df['continent']=pd.Categorical(df['continent'])
df.head()

In [0]:
# graph data
for i in df.year.unique(): #for every year in the data make the following graph
  fig = plt.figure(figsize=(680/my_dpi, 480/my_dpi), dpi=my_dpi) #create a figure
  tmp=df[ df.year == i ] #seperate the data to be graphed
  plt.scatter(tmp['lifeExp'], tmp['gdpPercap'] , s=tmp['pop']/200000 , 
              c=tmp['continent'].cat.codes, cmap="Accent", alpha=0.6, edgecolors="white", linewidth=2) #plot and colors
  plt.yscale('log') #set the scale of the y axis to logarythmic
  plt.xlabel("Life Expectancy") #set the label of the x axis
  plt.ylabel("GDP per Capita") #set the label of the y axis
  plt.title("Year: "+str(i) ) #set the title
  plt.ylim(0,100000) #set the scale of the y axis
  plt.xlim(30, 90) #set the scale of the x axis

# Uploading data from file

Here we will try 
- From local system
- From google sheet

In [0]:
#Libraries for reading from the drive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from google.colab import files
import gspread
from oauth2client.client import GoogleCredentials
import io

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
uploaded = files.upload()
immunization = pd.read_csv(io.BytesIO(uploaded['dtp3_immunized_percent_of_one_year_olds.csv']))

Saving dtp3_immunized_percent_of_one_year_olds.csv to dtp3_immunized_percent_of_one_year_olds.csv

In [0]:
gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open('dtp3_immunized_percent_of_one_year_olds').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

immunization = pd.DataFrame.from_records(rows)

immunization = immunization.reset_index(drop=True)
# immunization.columns = immunization.iloc[0]
# immunization = immunization.drop(immunization.index[0])
# immunization = immunization.reset_index(drop=True)

In [0]:
immunization.drop[0,0]

TypeError: ignored

In [0]:
immunization['country'] = pd.Categorical(immunization['country'])
# df['country'] = pd.Categorical(df['country'])
# df['year'] = pd.Categorical(df['year'])

In [0]:
immunization = immunization.set_index('country')
# df = df.set_index(['year', 'country'])

In [0]:
immunization = immunization.unstack()
immunization = immunization.to_frame().stack(level=0)
# immunization = immunization.to_frame().swaplevel()
# immunization.index.names = ['year', 'country']
# immunization.rename(columns={ immunization.columns[0]: "dtp3" }, inplace = True)
immunization

0     country
1980  Afghanistan  0     4
      Albania      0    94
      Algeria      0
      Andorra      0
      Angola       0
                        ..
2011  Venezuela    0    78
      Vietnam      0    95
      Yemen        0    81
      Zambia       0    81
      Zimbabwe     0    99
Length: 6176, dtype: object

In [0]:
joined = df.join(immunization, how='outer')

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:617: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [0]:
df.loc[[1982]]

                        continent  lifeExp       pop    gdpPercap
year country
1982 Afghanistan             Asia   39.854  12881816   978.011439
     Albania               Europe   70.420   2780097  3630.880722
     Algeria               Africa   61.368  20033753  5745.160213
     Angola                Africa   39.942   7016384  2756.953672
     Argentina           Americas   69.942  29341374  8997.897412
...                           ...      ...       ...          ...
     Vietnam                 Asia   58.816  56142181   707.235786
     West Bank and Gaza      Asia   64.406   1425876  4336.032082
     Yemen, Rep.             Asia   49.113   9657618  1977.557010
     Zambia                Africa   51.821   6100407  1408.678565
     Zimbabwe              Africa   60.363   7636524   788.855041

[142 rows x 4 columns]

In [0]:
joined.loc[['1982']]

                 continent  lifeExp  pop  gdpPercap dtp3
year country
1982 Afghanistan       NaN      NaN  NaN        NaN    5
     Albania           NaN      NaN  NaN        NaN   95
     Algeria           NaN      NaN  NaN        NaN
     Andorra           NaN      NaN  NaN        NaN
     Angola            NaN      NaN  NaN        NaN
...                    ...      ...  ...        ...  ...
     Venezuela         NaN      NaN  NaN        NaN   53
     Vietnam           NaN      NaN  NaN        NaN
     Yemen             NaN      NaN  NaN        NaN    4
     Zambia            NaN      NaN  NaN        NaN
     Zimbabwe          NaN      NaN  NaN        NaN   46

[193 rows x 5 columns]

In [0]:
joined

                 continent  lifeExp  ...  (dtp3, Zambia)  (dtp3, Zimbabwe)
year country                         ...
1952 Afghanistan      Asia   28.801  ...             NaN               NaN
1957 Afghanistan      Asia   30.332  ...             NaN               NaN
1962 Afghanistan      Asia   31.997  ...             NaN               NaN
1967 Afghanistan      Asia   34.020  ...             NaN               NaN
1972 Afghanistan      Asia   36.088  ...             NaN               NaN
...                    ...      ...  ...             ...               ...
1987 Zimbabwe       Africa   62.351  ...             NaN               NaN
1992 Zimbabwe       Africa   60.377  ...             NaN               NaN
1997 Zimbabwe       Africa   46.809  ...             NaN               NaN
2002 Zimbabwe       Africa   39.989  ...             NaN               NaN
2007 Zimbabwe       Africa   43.487  ...             NaN               NaN

[1704 rows x 197 columns]

In [0]:
# TODO max of immunization per capita

# References
- [Gapminder]
- https://python-graph-gallery.com/341-python-gapminder-animation/
-